.dragable-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.dragable-item.sheetView {
padding: 10px;
margin: 5px;
border: 1px solid #ccc;
border-radius: 5px;
text-align: center;
flex-grow: 1;
}

.draging {
background-color: #eee;
}
