.sheet-list-constainer{
    display: flex;
    flex-direction: row;
}

.sheet-list-item{
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.sheet-list-item:hover{
    cursor: pointer;
    background-color: #eee;

}
.sheet-list-item:active{
    cursor: grab;
    background-color: #ddd;
}
.sheet-list-item.selected{
    font-weight: bold;
    background-color: #ccc;
}